<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="LoadInvoiceWSPortBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://servis.kolayentegrasyon.net/InvoiceLoadingService/LoadInvoiceWS"
                binding="customBinding" bindingConfiguration="LoadInvoiceWSPortBinding"
                contract="LoadInvoiceWS" name="LoadInvoiceWSPort" />
        </client>
    </system.serviceModel>
</configuration>