<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- API Anahtarı - Bu anahtarı değiştirin! -->
    <add key="ApiKey" value="BSmart2024SecureKey!@#$%"/>
    <!-- Dosya yolları -->
    <add key="UpdatesPath" value="C:\BusinessSmartFiles\Updates"/>
    <add key="BackupsPath" value="C:\BusinessSmartFiles\Backups"/>
    <!-- Lisans veritabanı bağlantısı -->
    <add key="LicenseConnectionString" value="Provider=SQLOLEDB;Data Source=.\SQLEXPRESS;Initial Catalog=BusinessSmartLicense;Integrated Security=SSPI;"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.0" maxRequestLength="2097152" executionTimeout="3600"/>
    <customErrors mode="Off"/>
  </system.web>
  
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,PUT,DELETE,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
    
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type,X-Api-Key"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
